@model IEnumerable<AlmacenesLibertadMVC.detalleentrada>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.canent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.producto.nompro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.registroentrada.nroent)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.canent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.preent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.producto.nompro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.registroentrada.nroent)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.nrodetent }) |
            @Html.ActionLink("Details", "Details", new { id=item.nrodetent }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.nrodetent })
        </td>
    </tr>
}

</table>
